
body {
      background: linear-gradient(to right,black,white);
            color: white;
}

#name {
      text-align: center;
      font-family: 'Delius Swash Caps', cursive;
}

#myimg {
      display: block;
      border: 5px solid red;
      text-align: center;
      filter: drop-shadow(8px 8px 10px gray);
      width: 21vw;
      height: 21vw;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      transition: transform 3s;
}

#myimg:hover {
      cursor: pointer;
      border: 2px solid green;
      transform: rotate3d(1,1,0,360deg);
}

a:hover {
      text-decoration: none;
}

.heading {
      font-family: 'Patrick Hand', cursive;
      text-align: center;
}

#footer {
      background-color: chartreuse;
      text-align: center;
      padding: 15px;
}


.icon {
      width: 50px;
}

iframe {
      padding-left: 20vw;
}

@media screen and (max-width:992px) {
      #name{
            font-size: 36px;
      }

      .heading {
            font-size: 24px;
      }
      *{
            font-size: 12px;
      }

      .icon {
            width: 30px;
      }
}